<mat-card class="cardWithShadow">
  <mat-card-header>
    <div class="d-flex w-100">
      <div>
        <mat-card-title>Faturamento Semanal</mat-card-title>
        <mat-card-subtitle class="mat-body-1"
          >semana atual</mat-card-subtitle
        >
        <div class="col-sm-4">
          <div class="d-flex align-items-center m-t-24">         
            <div class="m-l-12">
              <h5 class="mat-headline-5 m-b-4">{{totalValue}}</h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </mat-card-header>
  <mat-card-content>
    <div class="row">
      <div class="col-sm-10">
        <apx-chart *ngIf="revenueChart?.series"
          [series]="revenueChart.series"
          [dataLabels]="revenueChart.dataLabels"
          [chart]="revenueChart.chart"
          [legend]="revenueChart.legend"
          [xaxis]="revenueChart.xaxis"
          [yaxis]="revenueChart.yaxis"
          [grid]="revenueChart.grid"
          [stroke]="revenueChart.stroke"
          [tooltip]="revenueChart.tooltip"
          [plotOptions]="revenueChart.plotOptions"
        ></apx-chart>
      </div>
    </div>
  </mat-card-content>
</mat-card>
