<h3 class="p-t-20 f-s-18">Clientes</h3>
<div class="row">
  <div class="col-lg-6 col-sm-4 col-9">
    <mat-card class="shadow-none text-center bg-light-primary shadow-none">
      <mat-card-content class="p-32">
        <h4 class="mat-subtitle-2 f-w-600 text-primary m-t-8">
           Ativos (%)
        </h4>
        <h6 class="m-t-4 mat-subtitle-1 f-w-600 text-primary m-t-8">
          {{clientesAtivosPorcentagem }} %
        </h6>
      </mat-card-content>
    </mat-card>
  </div>

  <div class="col-lg-6 col-sm-4 col-9"[hidden]="!company.is_adm">
    <mat-card class="shadow-none text-center bg-light-primary shadow-none">
      <mat-card-content class="p-32">
        <h4 class="mat-subtitle-2 f-w-600 text-primary m-t-8">
           Ativos - Atacado (%)
        </h4>
        <h6 class="m-t-4 mat-subtitle-1 f-w-600 text-primary m-t-8">
          {{clientesAtivosPorcentagemAtacado }} %
        </h6>
      </mat-card-content>
    </mat-card>
  </div>

  <div class="col-lg-2 col-sm-4 col-6">
    <mat-card class="shadow-none text-center bg-light-success shadow-none">
      <mat-card-content class="p-32">
        <h4 class="mat-subtitle-2 f-w-600 text-success m-t-8">
           Ativos
        </h4>
        <h6 class="m-t-4 mat-subtitle-1 f-w-600 text-success m-t-8">
          {{ clientesAtivos }}
        </h6>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="col-lg-2 col-sm-4 col-6">
    <mat-card class="shadow-none text-center bg-light-error shadow-none">
      <mat-card-content class="p-32">
        <h4 class="mat-subtitle-2 f-w-600 text-error m-t-8">
           Inativos
        </h4>
        <h6 class="m-t-4 mat-subtitle-1 f-w-600 text-error m-t-8">
          {{ clientesInativos }}
        </h6>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="col-lg-2 col-sm-4 col-6">
    <mat-card class="shadow-none text-center bg-light-warning shadow-none">
      <mat-card-content class="p-32">
        <h4 class="mat-subtitle-2 f-w-600 text-warning m-t-8">
          Inativos C/ Orçamento
        </h4>
        <h6 class="m-t-4 mat-subtitle-1 f-w-600 text-warning m-t-8">
          {{ clientesInativosComOrcamento }}
        </h6>
      </mat-card-content>
    </mat-card>
  </div>
<!-- ATACADO -->
<div class="col-lg-2 col-sm-4 col-6" [hidden]="!company.is_adm">
  <mat-card class="shadow-none text-center bg-light-success shadow-none">
    <mat-card-content class="p-32">
      <h4 class="mat-subtitle-2 f-w-600 text-success m-t-8">
         Atacado - Ativos
      </h4>
      <h6 class="m-t-4 mat-subtitle-1 f-w-600 text-success m-t-8">
        {{ clientesAtivosAtacado }}
      </h6>
    </mat-card-content>
  </mat-card>
</div>

  <div class="col-lg-2 col-sm-4 col-6" [hidden]="!company.is_adm">
    <mat-card class="shadow-none text-center bg-light-error shadow-none">
      <mat-card-content class="p-32">
        <h4 class="mat-subtitle-2 f-w-600 text-error m-t-8">
          Atacado - Inativos
        </h4>
        <h6 class="m-t-4 mat-subtitle-1 f-w-600 text-error m-t-8">
          {{ clientesInativosAtacado }}
        </h6>
      </mat-card-content>
    </mat-card>
  </div>

  <div class="col-lg-2 col-sm-4 col-6" [hidden]="!company.is_adm">
    <mat-card class="shadow-none text-center bg-light-warning shadow-none">
      <mat-card-content class="p-32">
        <h4 class="mat-subtitle-2 f-w-600 text-warning m-t-8" >
          Atacado - Inativos C/ Orçamento
        </h4>
        <h6 class="m-t-4 mat-subtitle-2 f-w-600 text-warning m-t-8" style="font-size: 22px;">
          {{ clientesInativosComOrcamentoAtacado }}
        </h6>
      </mat-card-content>
    </mat-card>
  </div>
</div>



