<div class="row">
  <div class="col-lg-2 col-sm-4 col-6">
    <mat-card class="shadow-none text-center bg-light-success shadow-none">
      <mat-card-content class="p-32">
        <h4 class="mat-subtitle-2 f-w-600 text-success m-t-8">
          Clientes Ativos
        </h4>
        <h6 class="m-t-4 mat-subtitle-1 f-w-600 text-success m-t-8">
          {{ clientesAtivos }}
        </h6>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="col-lg-2 col-sm-4 col-6">
    <mat-card class="shadow-none text-center bg-light-error shadow-none">
      <mat-card-content class="p-32">
        <h4 class="mat-subtitle-2 f-w-600 text-error m-t-8">
          Clientes Inativos
        </h4>
        <h6 class="m-t-4 mat-subtitle-1 f-w-600 text-error m-t-8">
          {{ clientesInativos }}
        </h6>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="col-lg-2 col-sm-4 col-6">
    <mat-card class="shadow-none text-center bg-light-warning shadow-none">
      <mat-card-content class="p-32">
        <h4 class="mat-subtitle-2 f-w-600 text-warning m-t-8">
          Inativos C/ Orçamento
        </h4>
        <h6 class="m-t-4 mat-subtitle-1 f-w-600 text-warning m-t-8">
          {{ clientesInativosComOrcamento }}
        </h6>
      </mat-card-content>
    </mat-card>
  </div>
</div>
