<app-filters [camposFiltro]="camposFiltro" (filtrosEnviados)="receberFiltros($event)"></app-filters>
<br>

<mat-card class="cardWithShadow" *ngIf="isVisible">
  <mat-card-header class="d-flex align-items-center">
    <mat-card-title>Dados</mat-card-title>
    <div class="m-l-auto">
      <button mat-fab color="accent" class="shadow-none icon-48">
        <i-tabler name="currency-dollar" class="text-white d-flex"></i-tabler>
      </button>
    </div>
  </mat-card-header>
  <mat-card-content class="m-b-32">
    <h4 class="mat-headline-5" style="color: green">{{totalValue}}</h4>
    <div class="d-flex align-items-center m-t-16">
      <div class="quantidade-container">
        <div class="mat-body-1 m-l-12">Vendas</div>
        <div class="mat-body-1 f-w-600 m-l-12">{{quantidadeVendas}}</div>
      </div>
      <div class="quantidade-container">
        <div class="mat-body-1 m-l-12">Itens</div>
        <div class="mat-body-1 f-w-600 m-l-12">{{quantidadeItems}}</div>
      </div>
      <div class="quantidade-container">
        <div class="mat-body-1 m-l-12">Margem</div>
        <div class="mat-body-1 f-w-600 m-l-12">{{margem}}%</div>
      </div>
    </div>
  </mat-card-content>
</mat-card>
<br>

<div class="d-flex align-items-center justify-content-center" *ngIf="mensagemNaTela" class="mensagem-erro">
  <i-tabler name="info-circle" class="icon-20"></i-tabler>
  <b>{{ mensagemNaTela }}</b>
</div>


<div *ngIf="!loading; else loadingTemplate">
</div>

<div #graficoEcharts id="grafico-echarts"></div>

<ng-template #loadingTemplate>
  <div class="d-flex align-items-center justify-content-center">
    <mat-spinner diameter="50"></mat-spinner>
  </div>
</ng-template>

<div></div>
<br>
<br>
<br>
<br>
<div></div>