<mat-card class="shadow-none bg-primary">
  <mat-card-content class="p-t-32">
    <mat-card-title class="text-white">Top Categorias</mat-card-title>
    <mat-card-subtitle class="text-white">mais vendidos no mês</mat-card-subtitle>
  </mat-card-content>
  <mat-card class="shadow-none bg-primary" *ngIf="subGroups?.items">
    <mat-card-content class="p-24" >
      <div class="d-flex align-items-center m-b-8" *ngFor="let cardimg of subGroups.items; let i = index">
        <div class="m-r-auto">
          <h6 class="mat-subtitle-1 f-s-16 f-w-600 m-b-4">{{cardimg.subGroupName}}</h6>
          <span class="mat-body-1">Quantidade: {{formatarParaValor(cardimg.qtyItems)}}</span>
        </div>
        <span
          class="bg-light-primary text-primary rounded f-w-600 p-4 f-s-12 p-x-12"
        >{{formatarParaReais(cardimg.value)}}
        </span>
      </div>
    </mat-card-content>
  </mat-card>
</mat-card>
