<mat-card class="cardWithShadow">
    <mat-card-header>
        <mat-card-title>Total do Mês</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <div class="row m-t-24">
            <div class="col-7" style="cursor: pointer;" *ngIf="isValorVisible">
                <h4 class="mat-headline-5">{{ formatarParaReais(somaArredondada) }}</h4>
                <div class="d-flex align-items-center m-t-16">
                    <i-tabler name="target-arrow" class="text-primary icon-16 mr-2"
                        style="display: flex; align-items: center;"></i-tabler>
                    <div class="mat-body-1 f-w-600 m-l-12">{{ formatarParaReais(metaTotalGeral) }}</div>
                </div>
            </div>
        </div>
    </mat-card-content>
</mat-card>

<div *ngIf="loading" class="d-flex align-items-center justify-content-center loading">
    <mat-spinner diameter="50"></mat-spinner>
</div>


<div class="row justify-content-center" *ngIf="goals?.items">
    <div *ngFor="let cardimg of goals.items; let i = index" class="col-sm-5 col-lg-2">
        <div class="cardWithShadow card2 position-relative card-hover fixed-height-card"
            [ngClass]="{'seller-id-negative': cardimg.sellerId === -999}">

            <mat-card-header class="d-flex align-items-start justify-content-between">
                <mat-card-title *ngIf="cardimg.sellerId === -999" style="font-size: 16px;" class="mb-0">
                    {{  abreviarNome(cardimg.sellerName) }}
                </mat-card-title>

                <mat-card-title *ngIf="cardimg.sellerId !== -999" style="font-size: 16px;" class="mb-0">
                    {{i}}° - {{  abreviarNome(cardimg.sellerName) }}
                </mat-card-title>

                <div class="align-self-start">
                    <img *ngIf="(cardimg.value / cardimg.goal) * 100 <= 99 && (cardimg.value / cardimg.goal) * 100 >= 50 && cardimg.goal !=0"
                        src="./assets/images/profile/médio.png" class="rounded-circle" width="30"
                        style="margin-right: 5px;">

                    <img *ngIf="(cardimg.value / cardimg.goal) * 100 <= 50 && (cardimg.value / cardimg.goal) * 100 >= 0 && cardimg.goal !=0"
                        src="./assets/images/profile/triste.png" class="rounded-circle" width="30"
                        style="margin-right: 5px;">

                    <img *ngIf="(cardimg.value / cardimg.goal) * 100 > 99 && cardimg.goal != 0"
                        src="./assets/images/profile/feliz.png" class="rounded-circle" width="30"
                        style="margin-right: 5px;">




                    <img *ngIf="cardimg.goal ===0" src="./assets/images/profile/triste.png" class="rounded-circle"
                        width="30" style="margin-right: 5px;">
                </div>
            </mat-card-header>

            <div class="f-s-18 f-w-700 m-y-8 m-r-8 d-flex align-items-center justify-content-center"
                [ngClass]="{'seller-id-negative': cardimg.sellerId === -999}" (click)="toggleValorVisibility()"
                style="margin-bottom: 8px; cursor: pointer;">
                <mat-icon class="text-primary mr-2"
                    style="display: flex; align-items: center; font-size: 16px">remove_red_eye</mat-icon>
                <span>
                    <b *ngIf="isValorVisible">
                        {{ formatarParaReais(cardimg.value)}}
                    </b>
                </span>
            </div>
            <div class="f-s-12 f-w-600 m-y-8 m-r-8 d-flex align-items-center justify-content-center"
                style="margin-bottom: 0;" [ngClass]="{'seller-id-negative': cardimg.sellerId === -999}">
                <mat-icon class="text-primary mr-2"
                    style="display: flex; align-items: center; font-size: 16px">gps_fixed</mat-icon>
                <span [ngClass]="{'seller-id-negative': cardimg.sellerId === -999}" *ngIf="isValorVisible">
                    {{ formatarParaReais(cardimg.goal) }}
                </span>
            </div>
            <div id="{{ graficoIds[i] }}" class="col-12 d-flex flex-column align-items-center">
                <apx-chart [series]="graficos[i].series" [chart]="graficos[i].chart"
                    [plotOptions]="graficos[i].plotOptions" [labels]="graficos[i].labels"
                    [fill]="graficos[i].fill"></apx-chart>
            </div>
        </div>
    </div>
</div>