<div class="container">
  <div class="d-flex align-items-center">
    <i-tabler name="circle-filled" class="text-primary icon-12 d-flex"></i-tabler>
    <div class="mat-body-1 m-l-12">Meta a ser batida!</div>
    <img src="./assets/images/profile/triste.png" width="25" height="25">
    <span> 0% - 50% </span>
    <img src="./assets/images/profile/médio.png" width="25" height="25">
    <span> 51% - 99% </span>
    <img src="./assets/images/profile/feliz.png" width="25" height="25">
    <span> 100% </span>
  </div>
  <br>
  <div class="row">
    <div class="col-12 col-md-6 col-lg-3" *ngFor="let item of goals.items; let i = index">
      <mat-card class="cardWithShadow">
        <mat-card-header>
          <mat-card-title>
            {{ item.sellerName}}
          </mat-card-title>
          <div class="col-4 d-flex flex-column align-items-end">
            <img *ngIf="(item.value / item.goal) * 100 <= 99 && (item.value / item.goal) * 100 >= 50 && item.goal !=0"
              src="./assets/images/profile/médio.png" width="25" height="25">
            <img *ngIf="(item.value / item.goal) * 100 <= 50 && (item.value / item.goal) * 100 >= 0 && item.goal !=0"
              src="./assets/images/profile/triste.png" width="25" height="25">
            <img *ngIf="(item.value / item.goal) * 100 >= 100 && item.goal != 0" src="./assets/images/profile/feliz.png"
              width="25" height="25">
          </div>
        </mat-card-header>
        <mat-card-content>
          <div class="row m-t-24">
            <div class="col-7">
              <span style="font-size: 20px">
                <i-tabler *ngIf="showValue; else hideValue" name="eye" class="text-primary icon-20"
                  (click)="showValue = !showValue"></i-tabler>
                <ng-template #hideValue>
                  <i-tabler name="eye-off" class="text-secondary icon-20" (click)="showValue = !showValue"></i-tabler>
                </ng-template>
                <span *ngIf="showValue"><b>{{ formatarParaReais(item.value) }}</b></span>
              </span>
              <div class="d-flex align-items-center m-t-32">
                <i-tabler name="circle-filled" class="text-primary icon-12 d-flex"></i-tabler>
                <div class="mat-body-1 m-l-12" style="font-size: 12px">{{ formatarParaReais(item.goal) }}</div>
              </div>
            </div>
          </div>
        </mat-card-content>
        <div id="{{ graficoIds[i] }}" class="col-12 d-flex flex-column align-items-center">
          <apx-chart [series]="graficos[i].series" [chart]="graficos[i].chart" [plotOptions]="graficos[i].plotOptions"
            [labels]="graficos[i].labels" [fill]="graficos[i].fill"></apx-chart>
        </div>
      </mat-card>
    </div>
  </div>
</div>