.user-category {
    margin-top: -45px;
    z-index: 1;
    position: relative;
  }
  

  
  .text-decoration-line-through {
    text-decoration: line-through;
  }

  
  .seller-id-negative {
    background-color: #1b2847;
  }
  
  .fixed-height-card {
    height: auto!important; /* Defina a altura desejada */
    overflow: hidden!important;
    margin-bottom: 5px;
  }

  @media (max-width: 768px) {
    .rounded-circle {
        display: inline-block !important;
    }
}

.background {
  background-color: #253662!important;
  color: white!important;
}

.icon-corner {
  position: absolute;
  bottom: 0;
  right: 0;
}

.textCard {
  white-space: nowrap;
  overflow: hidden!important
}

  
  