<mat-sidenav-container class="mainWrapper" autosize autoFocus [ngClass]="{
    'sidebarNav-mini': options.sidenavCollapsed && options.navPos !== 'top',
    'sidebarNav-horizontal': options.horizontal,
    cardBorder: options.cardBorder,
    orange_theme: options.activeTheme == 'orange_theme',
    blue_theme: options.activeTheme == 'blue_theme',
    aqua_theme: options.activeTheme == 'aqua_theme',
    purple_theme: options.activeTheme == 'purple_theme',
    green_theme: options.activeTheme == 'green_theme',
    cyan_theme: options.activeTheme == 'cyan_theme'
  }" [dir]="options.dir!">

  <mat-sidenav #leftsidenav [mode]="isOver ? 'over' : 'side'" [opened]="
      options.navPos === 'side' &&
      options.sidenavOpened &&
      !isOver
    " *ngIf="!options.horizontal" (openedChange)="onSidenavOpenedChange($event)" (closedStart)="onSidenavClosedStart()"
    class="sidebarNav">
    <div class="flex-layout">
      <app-sidebar></app-sidebar>
      <ng-scrollbar class="position-relative" style="height: 100%">
        <mat-nav-list class="sidebar-list">
          <app-nav-item *ngFor="let item of navItems" [item]="item" (notify)="sidenav.toggle()">
          </app-nav-item>
        </mat-nav-list>
        <div></div>
        <br>
        <br>
        <br>
        <br>
        <div></div>
      </ng-scrollbar>
    </div>
  </mat-sidenav>

  <mat-sidenav-content class="contentWrapper" #content>
    <ng-container *ngIf="!options.horizontal; else horizontalheader">
      <app-header [showToggle]="!isOver" (toggleCollapsed)="toggleCollapsed()" (toggleMobileNav)="sidenav.toggle()"
        (doLogout)="doLogout()"></app-header>
    </ng-container>

    <ng-template #horizontalheader>
      <app-horizontal-header (toggleMobileNav)="sidenav.toggle()"></app-horizontal-header>
    </ng-template>

    <app-horizontal-sidebar *ngIf="options.horizontal"></app-horizontal-sidebar>

    <main class="pageWrapper" [ngClass]="{
        maxWidth: options.boxed
      }">
      <router-outlet></router-outlet>
    </main>
  </mat-sidenav-content>

  <mat-sidenav #customizerRight mode="over" position="end">
    <app-customizer (optionsChange)="receiveOptions($event)"></app-customizer>
  </mat-sidenav>
</mat-sidenav-container>

<mat-drawer #filterNavRight mode="over" position="end" class="filter-sidebar" [hidden]=true>
</mat-drawer>