.user-category {
  margin-top: -45px;
  z-index: 1;
  position: relative;
}

.text-decoration-line-through {
  text-decoration: line-through;
}


.seller-id-negative {
  background-color: #fcfcfc;
}

.fixed-height-card {
  height: 190px;
  margin-bottom: 5px;
}

.auto-fixed-height-card {
  height: 260px;
  margin-bottom: 5px;
  background-color: #fcfcfc;
}

@media (max-width: 768px) {
  .rounded-circle {
    display: inline-block !important;
  }
}


.background {
  /* background-color: #2a3447 !important;
  color: white !important; */
}

.icon-corner {
  position: absolute;
  top: 10px;
  right: 0;
}

.textCard {
  white-space: nowrap;
  overflow: hidden !important;
  text-overflow: ellipsis !important;
  width: 85%;
}

.card {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); /* Adiciona sombra */
  border-radius: 8px; /* Adiciona borda arredondada (opcional) */
}