<div *ngIf="loading && SALVAR_RESPOSTA === undefined" class="d-flex align-items-center justify-content-center loading">
	<mat-spinner diameter="50"></mat-spinner>
</div>

<div *ngIf="!loading || SALVAR_RESPOSTA !== undefined" class="background">
	<mat-card class="background">
		<mat-card-header class="textCard">
			<mat-card-title class="d-flex align-items-center m-t-16">Total do Dia </mat-card-title>
			<div (click)="toggleValorVisibility()" class="d-flex align-items-center m-t-16"
				style="margin-left: 10px; cursor: pointer;">
				<mat-icon class="text-primary icon-24 mr-2" style="display: flex; align-items: center;">
					remove_red_eye
				</mat-icon>
			</div>

		</mat-card-header>
		<mat-card-content>
			<div class="row m-t-24 align-items-center">
				<div class="col-7">
					<div class="d-flex align-items-center m-t-16" *ngIf="isValorVisible">
						<mat-icon class="text-primary icon-22 mr-2" style="display: flex; align-items: center;">
							remove_red_eye
						</mat-icon>
						<div class="mat-body-1 f-w-600 m-l-12 background" style="font-size: 22px;">
							{{ formatarParaReais(somaArredondada) }}
						</div>
					</div>
					<div *ngIf="isValorVisible" class="d-flex align-items-center m-t-16">
						<i-tabler name="target-arrow" class="text-primary icon-16 mr-2"
							style="display: flex; align-items: center;"></i-tabler>
						<div class="mat-body-1 f-w-600 m-l-12 background">
							{{ formatarParaReais(metaTotalGeral) }}
						</div>
					</div>
				</div>
			</div>
		</mat-card-content>
	</mat-card>


	<div *ngIf="goals?.items" class="row justify-content-center">
		<div *ngFor="let cardimg of goals.items; let i = index" class=" col-8 col-sm-5 col-lg-2">

			<div [ngClass]="{'seller-id-negative': cardimg.sellerId === -999}"
				[ngClass]="{'auto-fixed-height-card': isValorVisible}"
				class="cardWithShadow position-relative card-hover fixed-height-card back">

				<mat-card-header class="d-flex align-items-start justify-content-between textCard">

					<mat-card-title *ngIf="cardimg.sellerId === -999"
						style="font-size: 17px;text-overflow: ellipsis!important;; ">
						<b>
							{{ abreviarNome(cardimg.sellerName) }}
						</b>
					</mat-card-title>


					<mat-card-title *ngIf="cardimg.sellerId !== -999"
						style="font-size: 17px; text-overflow: ellipsis!important;;">
						<span *ngIf="goals.items.length > 1">{{i}}°</span>
						<b style="text-overflow: ellipsis;">
							{{ abreviarNome(cardimg.sellerName) }}
						</b>
					</mat-card-title>
					<div class="icon-corner">
						<div class="align-self-start ">
							<img *ngIf="(cardimg.value / cardimg.goal) * 100 <= 99 && (cardimg.value / cardimg.goal) * 100 >= 50 && cardimg.goal !=0"
								src="assets/images/profile/médio.png" class="rounded-circle" width="30"
								style="margin-right: 5px; opacity: 0.7;">




							<img *ngIf="(cardimg.value / cardimg.goal) * 100 <= 50 && (cardimg.value / cardimg.goal) * 100 >= 0 && cardimg.goal !=0"
								src="assets/images/profile/triste.png" class="rounded-circle" width="30"
								style="margin-right: 5px; opacity: 0.7;">




							<img *ngIf="(cardimg.value / cardimg.goal) * 100 > 99 && cardimg.goal != 0"
								src="assets/images/profile/feliz.png" class="rounded-circle" width="30"
								style="margin-right: 5px; opacity: 0.7;">




							<img *ngIf="cardimg.goal ===0" src="assets/images/profile/triste.png" class="rounded-circle"
								width="30" style="margin-right: 5px; opacity: 0.7;">





						</div>
					</div>
				</mat-card-header>

				<div [ngClass]="{'seller-id-negative': cardimg.sellerId === -999}"
					class="f-s-18 f-w-700 m-y-8 m-r-8 d-flex align-items-center justify-content-center"
					style="margin-bottom: 8px;" *ngIf="isValorVisible">
					<mat-icon class="text-primary mr-2" style="display: flex; align-items: center; font-size: 16px">
						remove_red_eye
					</mat-icon>
					<span>
						<b>
							{{ formatarParaReais(cardimg.value)}}
						</b>
					</span>
				</div>



				<div [ngClass]="{'seller-id-negative': cardimg.sellerId === -999}"
					class="f-s-12 f-w-600 m-y-8 m-r-8 d-flex align-items-center justify-content-center"
					style="margin-bottom: 0;" *ngIf="isValorVisible">
					<mat-icon class="text-primary mr-2" style="display: flex; align-items: center; font-size: 16px">
						gps_fixed
					</mat-icon>
					<span *ngIf="isValorVisible" [ngClass]="{'seller-id-negative': cardimg.sellerId === -999}">
						{{ formatarParaReais(cardimg.goal) }}
					</span>
				</div>



					<apx-chart #chart  [series]="graficos[i].series" [chart]="graficos[i].chart"
						[plotOptions]="graficos[i].plotOptions" [labels]="graficos[i].labels"
						[fill]="graficos[i].fill"></apx-chart>
			</div>
		</div>
	</div>
</div>
<div></div>
<br>
<br>
<br>
<br>
<div></div>